<div>
    <h2 mat-dialog-title>Inscribir Nota</h2>
    <hr />
    <mat-dialog-content>
      <form [formGroup]="form">
        <div class="container">
            <mat-form-field appearance="standard">
                <mat-label>Ingrese la nota:</mat-label>
                <input matInput placeholder="" formControlName="nota" maxlength="2"/>
            </mat-form-field>
        </div>
      </form>
    </mat-dialog-content>
    <hr />
    <mat-dialog-actions>
      <button mat-raised-button (click)="onCloseConfirm()" [disabled]="form.invalid">Ingresar</button>
      <button mat-raised-button (click)="onCloseCancel()">Cancelar</button>
    </mat-dialog-actions>
  </div>
